[Desktop Entry]
Encoding=UTF-8
Name=Persian Calendar
Comment=Another calendar for Persians
Exec=pcalendar
Icon=/usr/share/pcalendar/cal.png
Terminal=false
Type=Application
Categories=Application;GTK;GNOME;Utility
