#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKG_NAME=pcalendar
PKG_REALNAME=persian-calendar
PKG_VERSION=0.0.1

%:
	dh $@

override_dh_install:
	dh_install
	mkdir -p debian/$(PKG_NAME)/usr/share/pcalendar debian/$(PKG_NAME)/usr/bin debian/$(PKG_NAME)/usr/share/applications # debian/$(PKG_NAME)/usr/lib/bonobo/servers
#	cp GNOME_PCalendarApplet.server debian/$(PKG_NAME)/usr/lib/bonobo/servers/
	cp pcalendar.desktop debian/$(PKG_NAME)/usr/share/applications
	cp pix/* *.php debian/$(PKG_NAME)/usr/share/pcalendar
	cp pcalendar.php debian/$(PKG_NAME)/usr/bin

